#container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

/*#background {
    width: 100%;
    height: 100%;
    background-image: url(images/turtle1.jpg);
    position: relative;
    margin-top: 5px;    
    
}

#body {
 background-color: #000
}*/ 

#banner {
    width: 955px;
    height: 115px;
    background-image: url(images/turtle.png);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    display: block;
    position: relative;
    margin-top: 5px;    
}

#nav {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    float: left;
    padding: 5px;
}

.section1 {
    width: 33%;
    height: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
	background: #2c8f93 ;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 500;
    display: inline-block;
    position: relative;
    left: 0px;
    top: 0px;
    margin-right: -4px;
}

.section2 {
    width: 33%;
    height: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
	background: #cb0a37;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 500;
    display: inline-block;
    position: relative;
    left: 0px;
    top: 0px;
    margin-right: -4px;
}

.section3 {
    width: 33%;
    height: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
	background: #85c14a;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 500;
    display: inline-block;
    position: relative;
    left: 0px;
    top: 0px;
    margin-right: -4px;
}

.section1:hover {
    opacity: 0.8;
}

.section2:hover {
    opacity: 0.8;
}

.section3:hover {
    opacity: 0.8;
}

//*.section {
    width: 250px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
	background: #162174;
	border: 1px solid #0f1658;
	border-radius: 2px;
	color: #fff;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 500;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: -5px;
}

.section:hover {
    background: #ffffff;
    color: #162174;
}*/


.box {
    width: 220px;
    height: 250px;
    background-color: #afc600;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-left: 0px;
    margin: 5px 5px 5px 5px;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
	border: 1px solid #98ac00;
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 700;
    text-decoration: none;
    margin-left: 5px;
    background: linear-gradient(#afc600, #8c9f00);
}

.box:hover {
    background: #279000;
}

#footer {
    width: 1000px;
    height: 0px;
    position: fixed; 
    bottom: 20px;
    background-color: #6c6c6c;
    padding-top: 0px;
}

p {
    margin: 0px;
}
